body {
  color: #D7DBD3;
  background-color: #30423E;
}

#app {
  /* font-family: 'Source Code Pro','Inter' monospace, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.main-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-5xl;
}

.secondary-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-2xl;
}

.sub-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1rem !important
}

.content-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 600;
}

.tab {
  font-family: 'Source Code Pro',monospace;
  font-weight: 500;
  @apply text-base;
}

.action-button-text {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-xs leading-3;
}

.action-button {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-xs leading-3 border-2 p-4 rounded-lg;
}