body {
  @apply bg-green-gray-dark text-cream;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  height: 100vh;
}

.bold-code {
  font-weight: 700;
}

.semi-bold-code {
  font-weight: 600;
}

.regular-code {
  font-weight: 500;
}

.light-cold {
  font-weight: 400;
}

.main-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-5xl;
}

.secondary-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-2xl;
}

.sub-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.75rem !important
}

.content-title {
  font-family: 'Source Code Pro',monospace;
  font-weight: 600;
}

.content-text {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  @apply text-sm;
}

.tab {
  font-family: 'Source Code Pro',monospace;
  font-weight: 500;
  @apply text-sm;
}

.footer {
  font-family: 'Source Code Pro',monospace;
  font-weight: 400;
  @apply text-xs;
}

.action-button-text {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-xs leading-3;
}

.action-button {
  font-family: 'Source Code Pro',monospace;
  font-weight: 700;
  @apply text-xs leading-3 border-2 p-4 rounded-lg border-cream;
}