/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  @apply border-green-gray-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  @apply bg-green-gray-medium border-2 border-green-gray-light;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-green-gray-light;
}